.DS_Store
stacktrace.log
target
.idea
*.iml
*.ipr
*.iws
prodDb.properties
prodDb.script
atlassian-ide-plugin.xml
activemq-data
*.project
*.classpath
.settings
target-eclipse
bin
*.sublime-*
devDb.h2.db