.DS_Store
stacktrace.log
target
.idea
*.iml
*.ipr
*.iws
*.settings
*.project
*.classpath
target-eclipse
bin
devDb.h2.db
activemq-data
prodDb.h2.db
prodDb.lock.db
prodDb.trace.db
newsDrillDown/grailsapp/pom.xml
newsWidget/grailsapp/pom.xml